.navbar{
    display: flex;
    position:sticky;
    top:0px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 5px black;
    padding: 20px;
    font-size: 30px;
    

}
.travel-logo{
    height: 20px;
}
.nav{
    height: 30px;
    padding: 7px;
    width: 100%;
}
.menu{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
}
.img-agakhan{
    width: 100%;
    height: 100vh;
}
